.displayNone {display: none !important;}
#btn-signup {
  padding: 3px 16px;
  /* background-color: #e3f2f3; */
  border: 1px;
  /* color: #125a31; */
}

.menuWrap div > .subMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-width: 112px;
  top: 100%;
  font-size: 13px;
  transition: 0.3s;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top;
  left: 50%;
  visibility: hidden;
  z-index: 99;
}
.menuWrap div:hover > .subMenu {
  visibility: visible;
  transform: translateX(-50%) scaleY(1);
}
.subMenu > .menuItem {
  background: #018967;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.subMenu > .menuItem a {
  width: 100%;
  padding: 8px 10px;
}